@page "/deletecustomer/{customerid}"
@inject INorthwindService service
@inject NavigationManager navigation

<h3>Delete Customer</h3>
<div class="alert alert-danger">
    Attenzione: questa operazione non &egrave; reversibile !!
</div>
<CustomerDetail ButtonText="Delete Customer" Customer="@customer" ButtonStyle="danger"  OnValidSumbit="@Delete"/>

@code {
    [Parameter]
    public string CustomerId { get; set; }

    private Customer? customer = new();

    protected async override Task OnParametersSetAsync()
    {

        customer = await service.GetCustomerAsync(CustomerId);
    }

    private async Task Delete()
    {
        if (customer is not null){
            await service.DeleteCustomerAsync(CustomerId);
        }
        navigation.NavigateTo("customers");
    }

    
}
