<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
	
		<security>
			<requestFiltering>
				<verbs allowUnlisted="true">
					<add verb="GET" allowed="true" />
					<add verb="OPTION" allowed="true" />
					<add verb="POST" allowed="true" />
					<add verb="DELETE" allowed="true" />
					<add verb="PUT" allowed="true" />
				</verbs>
                <fileExtensions>
                    <add fileExtension=".html" allowed="true" />
                </fileExtensions>
			</requestFiltering>
		</security>

		<modules>
			<remove name="WebDAVModule" />
		</modules>

		<handlers>
           
			<remove name="WebDAV" />
				<remove name="StaticFile" />
			<add name="StaticFile" path="*" verb="GET, PUT, POST, HEAD, TRACE, DELETE, DEBUG" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
	
		</handlers>

	</system.webServer>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>
</configuration>